.square {
  width: 100px;
  height: 100px;
  background-color: red;


}

.square:hover {
background-color: blue;
transition-duration: 750ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}